@import "./variables.css";

/* Body */
body {
  padding: 1rem;
  background-color: var(--gray);
  color: var(--white);
  font-family: var(--mainFont);
}

@media screen and (max-width: 620px) {
  body {
    padding: 0.5rem;
  }
}

/* Loading Screen */
.loading-screen {
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Bar */

form {
  width: 100%;
  max-width: 540px;
  margin: auto;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
  color: var(--white);
  background-color: var(--darkGray);
  box-shadow: var(--boxShadow);
  transition: 0.25s;
}

input:focus {
  outline: none;
  background-color: var(--darkestGray);
}

button {
  display: none;
}

/* Univeral Styles (for all sections) */

h1 {
  background-color: var(--darkGray);
  padding: 1rem;
  width: 100%;
  max-width: 540px;
  margin: 2rem auto 1rem auto;
  text-align: center;
  font-size: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
}

.section {
  background-color: var(--darkGray);
  padding: 1rem 2rem;
  width: 100%;
  max-width: 540px;
  margin: 0 auto 2rem auto;
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
}

/* Current */

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.current-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.current-main-image {
  margin-right: 1.5rem;
}

.current-main-temp {
  font-size: 2.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
}

.current-main-condition {
  font-size: 1rem;
  opacity: 0.7;
}

.other-conditions {
  min-width: 220px;
  width: fit-content;
  margin: auto;
}

.other-conditions p {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.other-conditions p:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

/* Hourly */

.hour-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  margin-bottom: 1rem;
}

.hour-container:last-of-type {
  padding: 0 0 0 0;
  border-bottom: none;
  margin-bottom: 0;
}

.hour-temp-condition {
  text-align: right;
  min-width: 100px;
}

.hour-temp {
  font-size: 2rem;
}

.hour-condition {
  font-size: 0.75rem;
  font-weight: 200;
  opacity: 0.7;
}

/* Daily */

.day-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  margin-bottom: 1rem;
}

.day-container:last-of-type {
  padding: 0 0 0 0;
  border-bottom: none;
  margin-bottom: 0;
}

.day-name {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.month-date {
  font-size: 0.75rem;
  opacity: 0.5;
}

.day-image-temps {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.day-temps {
  text-align: right;
  margin-left: 1rem;
}

.day-temps p:first-of-type {
  margin-bottom: 0.25rem;
}

.day-precip {
  font-size: 0.75rem;
  opacity: 0.5;
}

/* Footer */
footer p {
  text-align: center;
  margin-bottom: 1rem;
  color: #fdfdfdb4;
}

footer a {
  text-decoration: none;
  color: rgb(253, 255, 136);
}
